{% extends 'template/base.html' %}
{% load static %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Confirm Delete</title>
</head>
<body>
    <div class="container mt-5">
        <link href="{% static 'css/activities.css' %}" rel="stylesheet">
        <h1>Delete Announcement</h1>
        <p>Are you sure you want to delete the announcement "{{ announcement.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'announcements' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
{% endblock %}
