{% extends 'template/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <link href="{% static 'css/activities.css' %}" rel="stylesheet">
  <div class="activities-header text-center">
    <h1 class="display-4">Activities</h1>
    <p class="lead">ZPPS Kavathe School Activities</p>
  </div>

  {% if user.is_authenticated %}
  <div class="text-center mb-4">
    <a href="{% url 'create_activity' %}" class="btn btn-primary btn-lg">Create New Activity</a>
  </div>
  {% endif %}

  <div class="activities-container">
    <div class="row activities-list">
      {% for activity in activities %}
      <div class="col-md-4 mb-4">
        <div class="card activity-item">
          <div class="card-body">
            <h3 class="card-title activity-title">{{ activity.title }}</h3>
            <p class="card-text">{{ activity.description }}</p>
            <button class="btn btn-info" data-toggle="modal" data-target="#modal{{ activity.id }}">View More</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal{{ activity.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ activity.title }}</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div id="carousel{{ activity.id }}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  {% for image in activity.images.all %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100 activity-image" alt="{{ activity.title }}">
                  </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel{{ activity.id }}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carousel{{ activity.id }}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
