<!-- templates/activities/create_activity.html -->
{% extends 'template/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
     <link href="{% static 'css/announcements.css' %}" rel="stylesheet">
    <h1 class="text-center">Create Activity</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}
