{% extends 'template/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <link href="{% static 'css/activities.css' %}" rel="stylesheet">
  <div class="activities-header text-center">
    <h1 class="display-4">Edit Activity</h1>
  </div>

  <div class="card edit-activity-card">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        {% for form in formset %}
          {{ form.as_p }}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}